.Info {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    color: var(--white);
    font-size: 2.6rem;
    font-family: 'Inter';

    span {
      color: var(--primary-color);
    }
  }

  &__des {
    color: var(--white-transparent);
    font-size: 1.6rem;
    font-weight: 400;
  }

  @media only screen and (max-width: 640px) {
    width: 100%;
    text-align: center;
  }
}